//I thought I'd be using more styles in sass but turns out not
//but hey I get to show that I know how to built it.

body {
  font-size: 16px;
  margin: 0;
  font-family: arial, sans-serif, monospace;
}

* {
  box-sizing: border-box;
}
